<div class="bottom-nav-container">
	<nav class="navigation p-3">
		<a asp-controller="" asp-action=""><img class="navigation-icon"
				src="https://www.svgrepo.com/show/111256/house.svg" alt="house-icon" /></a>
		<a asp-controller="" asp-action=""><img class="navigation-icon"
				src="https://www.svgrepo.com/show/7109/search.svg" alt="search-icon" /></a>
		<a asp-controller="" asp-action=""><img class="navigation-icon"
				src="https://www.svgrepo.com/show/43071/shopping-bag.svg" alt="bag-icon" /></a>
		<a asp-controller="" asp-action=""><img class="navigation-icon"
				src="https://www.svgrepo.com/show/13666/heart.svg" alt="heart-icon" /></a>
		<a asp-controller="" asp-action=""><img class="navigation-icon"
				src="https://img.icons8.com/external-inkubators-basic-outline-inkubators/32/external-user-profile-user-interface-inkubators-basic-outline-inkubators.png"
				alt="profile-icon" /></a>
	</nav>
</div>