<section class="container">
    <h1>Checkout</h1>
    <hr class="line" />
    <h2 class="d-flex justify-content-between">My Order <span> 55$ </span> </h2>
    <hr class="line">
    <p class="d-flex justify-content-between">Shoulder Bag - Pink (Discount Applied) <span> 1 x 41$ </span> </p>
    <p class="d-flex justify-content-between">Shoulder Bag - Yellow (Discount Applied)  <span>1x 14$</span> </p>
    <hr class="line" />
    <h2>Shipping Details </h2>
    <p class="d-flex justify-content-between">Shipping to: Chicago, IL <a href="#"> <i class="fa-solid fa-chevron-right fa-2xs" style="color: #242424;"></i></a></p>
    <hr class="line" />
    <h2>Payment Method </h2>
    <p class="d-flex justify-content-between">Payment method: **** **** **** 1234 <a href="#"><i class="fa-solid fa-chevron-right fa-2xs" style="color: #242424;"></i> </a></p>
    <hr class="line" />
    <div class="comment-container">
        <label for="textbox">Comment</label>
        <input type="text" id="textbox" placeholder="Enter your comment here" name="textbox">
    </div>
    <div class="btn-container">
    <button class="btn btn-checkout" type="button">Confirm Order</button>
    </div>
</section>