<section class="container">
    <a href="#"> <i class="fa-solid fa-chevron-left" style="color: #242424;"></i> </a> <h1 class="text-center">  Payment Method</h1>
    <hr class="line" />
    <form id="payment-form">
        <div class="radio-option">
            <h2 class="font-weight-light">Credit cards</h2>
            <hr class="line" />
            <div class="d-flex justify-content-between">
                <label for="card1">7744 **** 8819</label>
                <input type="radio" id="card1" name="paymentMethod" value="card1">
            </div>
            <hr class="line" />
            <div class="d-flex justify-content-between">
                <label for="card2">7744 **** 8819</label>
                <input type="radio" id="card2" name="paymentMethod" value="card2">
            </div>
        </div>
        <hr class="line" />
        <div class="radio-option">
            <div class="d-flex justify-content-between">
                <label for="applePay">Apple pay</label>
                <input type="radio" id="applePay" name="paymentMethod" value="applePay">
            </div>
        </div>
        <hr class="line" />
        <div class="radio-option">
            <div class="d-flex justify-content-between">
                <label for="googlePay">Google pay</label>
                <input type="radio" id="googlePay" name="paymentMethod" value="googlePay">
            </div>
        </div>
        <hr class="line" />  
    </form>
</section>