@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="../Partials/_Top-nav.cshtml" />

<div class="profile">
    <div class="container">
        <div class="profile-person">
            <div class="image">
                <img src="/images/placeholder-profile-img.png" alt="profile-image" />
                <div class="icon"><i class="fa-light fa-pen"></i></div>
            </div>
            <div class="user-name"> Kristin Watson</div>
            <div class="email">kristin.watson@mail.com</div>
        </div>
        <div class="profile-info">
            <div class="info"><i class="fa-light fa-calendar"></i>Order History<i class="fa-regular fa-chevron-right"></i></div>
            <div class="info"><i class="fa-regular fa-credit-card"></i>Payment method<i class="fa-regular fa-chevron-right"></i></div>
            <div class="info"><i class="fa-light fa-location-dot"></i>My address<i class="fa-regular fa-chevron-right"></i></div>
            <div class="info"><i class="fa-light fa-gift"></i>My promocodes<i class="fa-regular fa-chevron-right"></i></div>
            <div class="info"><i class="fa-regular fa-right-from-bracket"></i>Sign out<i class="fa-regular fa-chevron-right"></i></div>
        </div>
    </div>
</div>