<div class="signOutConfirmationConatiner">
<svg width="335" height="336" viewBox="0 0 335 336" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M21.7749 169.237C21.7881 130.37 37.1504 93.1006 64.4831 65.6248C91.8158 38.149 128.88 22.7174 167.525 22.724C206.169 22.7306 243.228 38.175 270.552 65.6602C297.875 93.1453 313.225 130.42 313.225 169.287C313.225 208.154 297.875 245.429 270.552 272.914C243.228 300.399 206.169 315.843 167.525 315.85C128.88 315.857 91.8158 300.425 64.4831 272.949C37.1504 245.473 21.7881 208.204 21.7749 169.337V169.237Z" fill="white"/>
<path d="M2 168.4C2.01326 124.511 19.4591 82.4244 50.5003 51.3973C81.5416 20.3701 123.636 2.94332 167.525 2.94995C211.414 2.95658 253.503 20.3961 284.535 51.4326C315.567 82.4692 333 124.561 333 168.45C333 212.339 315.567 254.431 284.535 285.467C253.503 316.504 211.414 333.943 167.525 333.95C123.636 333.957 81.5416 316.53 50.5003 285.503C19.4591 254.475 2.01326 212.389 2 168.5V168.4Z" stroke="white" stroke-width="3.95224" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
<div class="confirmationText">
<h1>Are you sure you want to sign out?</h1>
</div>
<a asp-controller="Login" asp-action="Index"><input type="button" value="Sure" class="btn" /></a>
<p><a asp-controller="Account" asp-action="MyAccount" />Cancel</p><>
</div>