<body>

<div class="container container-MG3-117">
    <div class="circle circle-MG3-117">
        <i class="fa-duotone fa-check check-icon"></i>
    </div>
        <i class="fa-thin fa-pipe fa-pipe-MG3-117"></i>
        <div class="message message-MG3-117">
            <h4>Thank you for your order!</h4>
            <p>Your order will be delivered on time.</p>
            <p>Thank you.</p>
        </div>
        <div class="buttons">
            <a href="view-orders.html" class="button--MG3-117 view-orders">View Orders</a>
        </div>
            <a href="continue-shopping.html" class="button continue-shopping">Continue Shopping</a>
</div>

</body>