<body>
<div class="container container-MG3-117">
    <div class="circle circleFailed-MG3-117">
           
        <i class="fa-regular fa-xmark"></i>
    </div>
    <i class="fa-thin fa-pipe fa-pipe-MG3-117"></i>
    <div class="message message-MG3-117">
        <h4>Sorry! Your order has failed!</h4>
            <p class="text-secondary">Something went wrong.</p>
            <p class="text-secondary">Please try again to continue your order.</p>
    </div>
    <div class="buttons">
        <a href="view-orders.html" class="button--MG3-117 view-orders">Try again</a>
    </div>
    <a href="continue-shopping.html" class="button continue-shopping">Go to my profile</a>
</div>

</body>