<nav class="top-navigation">
   <div class="header_in">
     <button type="button" class="toggle" id="toggle">
       <span><i id="burger" class="fa-solid fa-bars"></i></span>
      </button>
  </div>
</nav>

<div class="sidebar px-5" id='sidebar'>
    <div class="container text-center">
        <div class="col-md-12 mt-5">
            <div class="text-center">
                <div class="black-circle">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <h5>Visit Us</h5>
            </div>
                <p>123 Main Street</p>
                <p>Your City, Country</p>
        </div>
        <div class="col-md-12">
        <div class="text-center">
            <div class="line" ></div>
            <div class="black-circle">
                <i class="fas fa-phone"></i>
            </div>
            <h5>Call Us</h5>
        </div>
        <div class="info text-center">
            <p>+1 123-456-7890</p>
        </div>
    </div>
    <div class="col-12">
        <div class="text-center">
            <div class="line"></div>
            <div class="black-circle">
                <i class="fas fa-envelope"></i>
            </div>
            <h5>Email Us</h5>
        </div>
        <div class="info text-center">
            <p>info@example.com</p>
        </div>
    </div>
        <div class="text-center">
            <div class="line"></div>
               <h6 class="track-order">Track your order</h6>
            <div class="container container-MG3-165-order">
                <div class="row">
                    <div class="col-6">
                        <input class="textarea" rows="1">
                    </div>
                    <div class="col-6">
                        <div class="black-circle-arrow">
                            <i class="fa-sharp fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>