<div class="container-sm">
   <div class="row justify-content-evenly py-3" id="wislist-row">
    <div class="col-4">
        <div class="card" style="width: 7rem; border:none;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7360239_280_f_f_adidas_adihq8718ornggazelleindoor2309_q2_junkyard.jpg?auto=format&fit=fill&fill-color=F2F2F2&h=466.25&w=373&q=60" alt="Card image cap">
        </div>
    </div>
    <div class="col-lg-6">
        <p class="text-start mb-1">Summer dress</p>
        <p class="text-start mb-1">$36.95</p>
        <p class="text-start">⭐⭐⭐⭐(18)</p>
        <p class="top-left px-2">On sale</p>
    </div>
    <div class="col-2 text-end">
        <div class="row align-self-center">
            <i class="fa-regular fa-heart mt-1" id="fa-heart"></i>
            <i class="fa-solid fa-bag-shopping mt-5 " id="fa-bag"></i>
        </div>
    </div>
   </div>
   <div class="row justify-content-evenly py-3" id="wislist-row">
    <div class="col-4">
        <div class="card" style="width: 7rem; border:none;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7356054_990_f_f_junkyard_jydeliriumlacedress2308_q3_junkyard.jpg?auto=format&ar=4:5&fit=crop&w=373&q=60" alt="Card image cap">
        </div>
    </div>
    <div class="col-6">
        <p class="text-start mb-1">Summer dress</p>
        <p class="text-start mb-1">$26.95</p>
        <p class="text-start">⭐⭐⭐⭐⭐(108)</p>
        <p class="top-left px-2">On sale</p>
    </div>
    <div class="col-2 text-end">
        <div class="row align-self-center">
            <i class="fa-regular fa-heart mt-1" id="fa-heart"></i>
            <i class="fa-solid fa-bag-shopping mt-5 " id="fa-bag"></i>
        </div>
    </div>
   </div>
   <div class="row justify-content-evenly py-3" id="wislist-row">
    <div class="col-4">
        <div class="card" style="width: 7rem; border:none;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7351270_900_f_f_newbalance_nb_bb480ldbwhi_bb480ldb2302_q1_junkyard.jpg?auto=format&fit=fill&fill-color=F2F2F2&h=466.25&w=373&q=60" alt="Card image cap">
        </div>
    </div>
    <div class="col-6">
        <p class="text-start mb-1">Summer dress</p>
        <p class="text-start mb-1">$46.95</p>
        <p class="text-start">⭐⭐⭐⭐(33)</p>
        <p class="top-left px-2">On sale</p>
    </div>
    <div class="col-2 text-end">
        <div class="row align-self-center">
            <i class="fa-regular fa-heart mt-1" id="fa-heart"></i>
            <i class="fa-solid fa-bag-shopping mt-5 " id="fa-bag"></i>
        </div>
    </div>
   </div>
</div>
