<div class="container text-center py-5">
   <div class="row justify-content-center py-3" id="wislist-row">
    <div class="col-3" id="wishlist-img-container">
        <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7360239_280_f_f_adidas_adihq8718ornggazelleindoor2309_q2_junkyard.jpg?auto=format&fit=fill&fill-color=F2F2F2&h=466.25&w=373&q=60" alt="Card image cap">
    </div>
    <div class="col-3 text-start" id="wishlist-product-info">
        <p class="mb-1 text-nowrap">Summer dress</p>
        <p class="mb-1">$36.95</p>
        <p class="mb-1">⭐⭐⭐⭐(18)</p>
    </div>s
    <div class="col-6 align-self-center">
        <div class="row text-end">
            <i class="fa-regular fa-heart" id="fa-heart"></i>
            <i class="fa-solid fa-bag-shopping mt-4 " id="fa-bag"></i>
        </div>
    </div>
   </div>
      <div class="row justify-content-center py-3" id="wislist-row">
    <div class="col-3" id="wishlist-img-container">
        <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7360239_280_f_f_adidas_adihq8718ornggazelleindoor2309_q2_junkyard.jpg?auto=format&fit=fill&fill-color=F2F2F2&h=466.25&w=373&q=60" alt="Card image cap">
    </div>
    <div class="col-3 text-start" id="wishlist-product-info">
        <p class="mb-1 text-nowrap">Summer dress</p>
        <p class="mb-1">$36.95</p>
        <p class="mb-1">⭐⭐⭐⭐(18)</p>
    </div>
    <div class="col-6 align-self-center">
        <div class="row text-end">
            <i class="fa-regular fa-heart" id="fa-heart"></i>
            <i class="fa-solid fa-bag-shopping mt-4 " id="fa-bag"></i>
        </div>
    </div>
   </div>
</div>
