<div class="bottom-nav-container">
	<nav class="navigation">
		<img src="../wwwroot/img/svg/house.svg" alt="house-icon" />
		<img src="../wwwroot/img/svg/house.svg" alt="house-icon" />
		<img src="../wwwroot/img/svg/heart.svg" alt="house-icon" />
		<img src="../wwwroot/img/svg/magnifying.svg" alt="house-icon" />
		<img src="../wwwroot/img/svg/profile.svg" alt="house-icon" />
	</nav>
</div>