@model AddressViewModel

<div class="add-address">
    <div class="container">
        <div class="address-map">
            <img src="/images/map.png" alt="map" />
        </div>

        <div class="newaddress-info">
            <form method="post" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="title">TITLE:</label>
                    <input />
                </div>
                <div class="form-group">
                    <label asp-for="StreetName">Streetname</label>
                    <input asp-for="StreetName" />
                    <span asp-validation-for="StreetName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City">City</label>
                    <input asp-for="City" />
                    <span asp-validation-for="City"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode">Postalcode</label>
                    <input asp-for="PostalCode" />
                    <span asp-validation-for="PostalCode"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country">Country</label>
                    <input asp-for="Country" />
                    <span asp-validation-for="Country"></span>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Use current location</label>
                </div>

                <button type="submit" class="btn">Save Address</button>
            </form>
        </div>
    </div>
</div>