@model AddCreditCardViewModel
<div class="add-payment">
    <div class="container">
        
            <div class="card-image">
                <div class="card-info">
                    <img src="/images/visa.png" alt="visa card" />
                    <p class="card-number"></p>
                    <div class="name">
                        <p>Kristin</p>
                        <P>EXP.END</P>
                    </div>
                </div>
                <div class="card-background">
                    <img src="/images/blue-card.png" alt="blue-card" />
                </div>
            </div>
        

        <div class="newcard-info">
            <form method="post"> 
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CreditCardName"></label>
                    <input asp-for="CreditCardName" />

                </div>
                <div class="form-group">
                    <label asp-for="CardNumber">CARD NUMBER</label>
                    <input asp-for="CardNumber" />

                </div>
                <div class="form-group validation">
                    <div>
                        <label asp-for="ExpireDate">MM/YY</label>
                        <input asp-for="ExpireDate" />
                    </div>
                    <div class="validate-cvv">
                        <label asp-for="CVV">CVV</label>
                        <input asp-for="CVV" />
                    </div>
                </div>

                <button type="submit" class="form-group save-btn">Save Card</button>
            </form>
        </div>
    </div>
</div>