@model EditUserViewModel;

@{
    
    ViewData["Title"] = "Edit Account";
}

<div class="edit">
    <div class="container">
        <div class="profile-person">
            <div class="image">
                <img src="/images/placeholder-profile-img.png" alt="profile-image" />
                <div class="icon"><i class="fa-light fa-camera-retro"></i></div>
            </div>

        </div>
        <div class="profile-info">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="name form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" />
                </div>
                <div class="name form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" />
                </div>
                <div class="email form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                </div>
                <div class="phone form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" />
                </div>

                <button type="submit" class="form-group profile-btn"> Save Changes</button>
            </form>
        </div>
    </div>
</div>
