@model EditUserViewModel;

@{
    
    ViewData["Title"] = "Edit Account";
}

<div class="edit">
    <div class="container">
            <div class="goBackNav">
                <a asp-controller="Account" asp-action="Index">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="15" viewBox="0 0 8 15" fill="none">
                        <path d="M7 13.833L1 7.83301L7 1.83301" stroke="#111111" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
        <div class="profile-person">
            <div class="image">
                <img src="/images/placeholder-profile-img.png" alt="profile-image" />
                <div class="icon"><i class="fa-light fa-camera-retro"></i></div>
            </div>

        </div>
        <div class="profile-info">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="name form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" />
                </div>
                <div class="name form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" />
                </div>
                <div class="email form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                </div>
                <div class="phone form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" />
                </div>
                <div class="phone form-group">
                    <label asp-for="ProfileImageUrl"></label>
                    <input asp-for="ProfileImageUrl" />
                </div>

                <button type="submit" class="form-group profile-btn"> Save Changes</button>
            </form>
        </div>
    </div>
</div>
