@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="edit">
    <div class="container">
        <div class="profile-person">
            <div class="image">
                <img src="/images/placeholder-profile-img.png" alt="profile-image" />
                <div class="icon"><i class="fa-light fa-camera-retro"></i></div>
            </div>

        </div>
        <div class="profile-info">
            <form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="name form-group">
                    <label for="name">Name:</label>
                    <input value="Kristin Watson" />
                </div>
                <div class="email form-group">
                    <label for="email">Email:</label>
                    <input value="abc@gmail.com" />
                </div>
                <div class="phone form-group">
                    <label for="phone">Phone Number:</label>
                    <input value="1234556" />
                </div>
                <div class="location form-group">
                    <label for="location">Location:</label>
                    <input value="Chicagom,USA" />
                </div>
                <div class="form-group profile-btn" href="/"> Save Changes</div>
            </form>
        </div>
    </div>
</div>
