@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="my-orders">
    <div class="container">
        <div class="box">
            <div class="two-column">
                <h4>#100345</h4>
                <p>Shipping<i class="fa-regular fa-truck-moving"></i></p>
            </div>
            <div class="two-column">
                <p>Feb 02, 2022 at 8:32 PM</p>
                <p>$354.32</p>
            </div>
        </div>
        <div class="box">
            <div class="two-column">
                <h4>#100345</h4>
                <p>Shipping<i class="fa-regular fa-truck-moving"></i></p>
            </div>
            <div class="two-column">
                <p>Feb 02, 2022 at 8:32 PM</p>
                <p>$354.32</p>
            </div>
        </div><div class="box">
            <div class="two-column">
                <h4>#100345</h4>
                <p>Shipping<i class="fa-regular fa-truck-moving"></i></p>
            </div>
            <div class="two-column">
                <p>Feb 02, 2022 at 8:32 PM</p>
                <p>$354.32</p>
            </div>
        </div><div class="box">
            <div class="two-column">
                <h4>#100345</h4>
                <p>Shipping<i class="fa-regular fa-truck-moving"></i></p>
            </div>
            <div class="two-column">
                <p>Feb 02, 2022 at 8:32 PM</p>
                <p>$354.32</p>
            </div>
        </div><div class="box">
            <div class="two-column">
                <h4>#100345</h4>
                <p>Shipping<i class="fa-regular fa-truck-moving"></i></p>
            </div>
            <div class="two-column">
                <p>Feb 02, 2022 at 8:32 PM</p>
                <p>$354.32</p>
            </div>
        </div>

    </div>
</div>