@{
    ViewData["Title"] = "CreditCards";
}

@model CreditCardViewModel

<div class="payment-method">
    <div class="container">
            <div class="cards">
                <div class="menu">
                    <h4>Cards</h4>
                    <div class="new-card">
                        <a asp-controller="account" asp-action="addcreditcard"><p>Add a new card</p>
                        </a><i class="fa-light fa-plus"></i>
                    </div>
                </div>
            </div>

        <div class="scrollmenu">
        @foreach(var item in Model.CreditCards)
        {
            <div class="card-image">
                <div>
                    <img src="/images/purple-card.png" alt="purple-card" />
                    <img class="visa" src="/images/visa.png" alt="visa card" />
                    <p class="card-number">@item.CardNumber</p>
                    <div class="name">
                        <P>@item.ExpireDate</P>
                        <p>@item.CreditCardName</p>
                    </div>
                </div>
            </div>
        }
        </div>
      

        <div class="payment-info">
            <div class="info">
                <p>Apple Pay</p>
                <div class="verify"><i class="fa-regular fa-check green"></i><i class="fa-light fa-pen"></i></div>
            </div>
            <div class="info">
                <p>Pay Pal</p>
                <div class="verify"><i class="fa-regular fa-check green"></i><i class="fa-light fa-pen"></i></div>
            </div>
            <div class="info">
                <p>Paynoeer</p>
                <div class="not-verify"><i class="fa-light fa-plus"></i></div>
            </div>
        </div>
    </div>
</div>
<partial name="../Shared/_BottomNav.cshtml" />