.bestseller-title {
    font-size: 1rem;
}

.bestseller-product-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.img-noradius {
    border-radius: 0;
}

.filter-sort-wrapper-product-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.product-list-wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-bottom: 4rem;
}

.card-product-list {
    margin: 1rem;
    border: none;
}

.product-list-heart {
    font-size: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.product-list-bag {
    font-size: 5px;
    position: absolute;
    top: 50px;
    right: 10px;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.icon-button:focus {
    outline: none;
}

.icon-button:active {
    outline: none;
}