.promoCodeEmptyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .promo-code-h2 {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        width: 13rem;
    }

    .promocodeContainer {
        width: 20.87488rem;
        height: 3.0625rem;
        flex-shrink: 0;
        position: relative;
        margin: 1.3rem 0 1.3rem 0;

        > svg {
            position: absolute;
            z-index: 1;
        }

        > label {
            position: absolute;
            z-index: 2;
            left: 5%;
            top: -12%;
            background-color: white;
            padding: 0 10px 0 10px;
            font-size: small;
            color: $color-gray;
        }

        .promocodeInput {
            position: absolute;
            z-index: 3;
            width: 18rem;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1rem;
            border: none;
        }
    }
}
