.categories-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(219, 227, 245);
}

#shoppingbag-categories {
    transition: ease .5s;
    font-size: 50px;
    cursor: pointer;
}

#search-categories {
    font-size: 25px;
}

.search-category {
    font-size: 1.7rem;
    margin-left: 10px;
    font-weight: 400;
}




.search-category {
    border-radius: 1rem;
    border: none;
    height: 40px;
    padding: 20px;
}

#fa-search {
    margin-right: 0.4rem;
}

.searchbox-categories {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.categories-choose {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


.view-category {
    color: black;
    text-decoration: none;
    font-size: 1.7rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

    .view-category:hover {
        border-radius: 2rem;
        background-color: rgb(219, 227, 245);
        cursor: pointer;
    }

.category-boxes-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.category-boxes-pair {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0.1rem;
}

.category-box {
    padding-top: 8rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(23, 28, 49);
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
}

.category-box-wide {
    padding-top: 8rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(23, 28, 49);
    width: 100%;
    color: white;
    margin-bottom: 0.1rem;
    font-size: 1rem;
    font-weight: 700;
}

.margin-category-box {
    margin-right: 0.1rem;
}
