@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h1>You have not logged in </h1>
    <h1>Please log in for continue shopping</h1>
</div>