@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

// Font Family

$font-mulish: 'Mulish', sans-serif;


//Font Weights

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
