<div class="singInContainer">
    <div class="goBackNav">
        <a asp-controller="Login" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="8"
                 height="15"
                 viewBox="0 0 8 15"
                 fill="none">
                <path d="M7 13.833L1 7.83301L7 1.83301"
                      stroke="#111111"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>
        </a>
        <p class="goBackNavText">Forgot Password</p>
        <p class="hiddenElement"></p>
    </div>

    <p class="passwordInfoText">
        Please enter your email address. You will receive a link to create a new
        password via email.
    </p>

    <form action="">
        <div class="emailContainer">
            <label for="email">Email</label>
            <input type="email" name="email" id="" class="emailInput" />
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="335"
                 height="51"
                 viewBox="0 0 335 51"
                 fill="none">
                <path d="M25.4252 1.33301H309.573C316.184 1.33301 322.524 3.91425 327.198 8.50889C331.872 13.1035 334.498 19.3352 334.498 25.833C334.498 32.3308 331.872 38.5625 327.198 43.1571C322.524 47.7518 316.184 50.333 309.573 50.333H25.4252C18.8147 50.333 12.4748 47.7518 7.80044 43.1571C3.12605 38.5625 0.5 32.3308 0.5 25.833C0.5 19.3352 3.12605 13.1035 7.80044 8.50889C12.4748 3.91425 18.8147 1.33301 25.4252 1.33301Z"
                      stroke="#DBE3F5"
                      stroke-width="0.988468"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>
        </div>
        <input type="button" value="Send" class="btn" />
    </form>
</div>