@model Manero.ViewModels.LoginViewModel


<div class="singInContainer">
    <div class="goBackNav">
        <a asp-controller="Home" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="8"
                 height="15"
                 viewBox="0 0 8 15"
                 fill="none">
                <path d="M7 13.833L1 7.83301L7 1.83301"
                      stroke="#111111"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>
        </a>
        <p class="goBackNavText">Sign in</p>
        <p class="hiddenElement"></p>
    </div>

    <h1>Welcome Back!</h1>
    <p>Sign in to continue</p>

    <form asp-controller="Login" asp-action="Index" method="post">
        <div class="emailContainer">
            <label for="email" asp-for="Email">Email</label>
            <input type="email" name="email" class="emailInput" asp-for="Email" />
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="335"
                 height="51"
                 viewBox="0 0 335 51"
                 fill="none">
                <path d="M25.4252 1.33301H309.573C316.184 1.33301 322.524 3.91425 327.198 8.50889C331.872 13.1035 334.498 19.3352 334.498 25.833C334.498 32.3308 331.872 38.5625 327.198 43.1571C322.524 47.7518 316.184 50.333 309.573 50.333H25.4252C18.8147 50.333 12.4748 47.7518 7.80044 43.1571C3.12605 38.5625 0.5 32.3308 0.5 25.833C0.5 19.3352 3.12605 13.1035 7.80044 8.50889C12.4748 3.91425 18.8147 1.33301 25.4252 1.33301Z"
                      stroke="#DBE3F5"
                      stroke-width="0.988468"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>
        </div>
        <div class="passwordContainer">
            <label for="password" asp-for="Password">Password</label>
            <input type="password" name="password" asp-for="Password" />
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="335"
                 height="51"
                 viewBox="0 0 335 51"
                 fill="none">
                <path d="M25.4252 1.33301H309.573C316.184 1.33301 322.524 3.91425 327.198 8.50889C331.872 13.1035 334.498 19.3352 334.498 25.833C334.498 32.3308 331.872 38.5625 327.198 43.1571C322.524 47.7518 316.184 50.333 309.573 50.333H25.4252C18.8147 50.333 12.4748 47.7518 7.80044 43.1571C3.12605 38.5625 0.5 32.3308 0.5 25.833C0.5 19.3352 3.12605 13.1035 7.80044 8.50889C12.4748 3.91425 18.8147 1.33301 25.4252 1.33301Z"
                      stroke="#DBE3F5"
                      stroke-width="0.988468"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>
        </div>

        <input type="checkbox" name="checkbox" class="rememberCheckbox" asp-for="RememberMe" />
        <label for="checkbox" class="checkboxText">Remember me</label>
        <a asp-controller="Login" asp-action="ForgotPass">Forgot password?</a>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="submit" value="Sign in" class="btn" id="signInBtn" />
    </form>
    <p class="singUpText">Don't have an account? <a asp-controller="SignUp" asp-action="Index">Sign up.</a></p>
    <div class="loginOptions">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="201"
             height="61"
             viewBox="0 0 201 61"
             fill="none">
            <a href="">
                <path fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M30.5 0.833008C34.4397 0.833008 38.3407 1.609 41.9805 3.11664C45.6203 4.62428 48.9275 6.83405 51.7132 9.61981C54.499 12.4056 56.7087 15.7127 58.2164 19.3525C59.724 22.9922 60.5 26.8934 60.5 30.833C60.5 34.7727 59.724 38.6738 58.2164 42.3135C56.7087 45.9533 54.499 49.2604 51.7132 52.0462C48.9275 54.832 45.6203 57.0417 41.9805 58.5494C38.3407 60.057 34.4397 60.833 30.5 60.833C22.5435 60.833 14.9129 57.6723 9.2868 52.0462C3.66071 46.4201 0.5 38.7895 0.5 30.833C0.5 22.8765 3.66071 15.2459 9.2868 9.61981C14.9129 3.99372 22.5435 0.833008 30.5 0.833008Z"
                      fill="white" />
                <path d="M30.5 1.33301C38.3239 1.33301 45.8273 4.441 51.3596 9.97333C56.892 15.5057 60 23.0091 60 30.833C60 38.6569 56.892 46.1604 51.3596 51.6927C45.8273 57.225 38.3239 60.333 30.5 60.333C22.6761 60.333 15.1727 57.225 9.64035 51.6927C4.10803 46.1604 1 38.6569 1 30.833C1 23.0091 4.10803 15.5057 9.64035 9.97333C15.1727 4.441 22.6761 1.33301 30.5 1.33301Z"
                      stroke="#DBE3F5"
                      stroke-width="0.98333"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                <path fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M35.25 20.837L32.656 20.833C29.742 20.833 27.859 22.765 27.859 25.755V28.025H25.251C25.143 28.025 25.0394 28.0679 24.9629 28.1442C24.8864 28.2205 24.8433 28.324 24.843 28.432V31.721C24.843 31.946 25.026 32.128 25.251 32.128H27.859V40.425C27.859 40.651 28.041 40.833 28.267 40.833H31.669C31.7772 40.833 31.881 40.79 31.9575 40.7135C32.034 40.637 32.077 40.5332 32.077 40.425V32.128H35.126C35.234 32.128 35.3377 32.0851 35.4142 32.0089C35.4906 31.9326 35.5337 31.829 35.534 31.721L35.535 28.432C35.535 28.3238 35.492 28.22 35.4155 28.1435C35.339 28.067 35.2352 28.024 35.127 28.024H32.077V26.101C32.077 25.176 32.297 24.707 33.502 24.707L35.249 24.706C35.3026 24.706 35.3557 24.6954 35.4052 24.6749C35.4547 24.6544 35.4996 24.6244 35.5375 24.5865C35.5754 24.5486 35.6055 24.5037 35.626 24.4542C35.6465 24.4047 35.657 24.3516 35.657 24.298V21.245C35.657 21.1914 35.6465 21.1384 35.626 21.0889C35.6055 21.0394 35.5754 20.9944 35.5375 20.9565C35.4996 20.9186 35.4547 20.8885 35.4052 20.868C35.3557 20.8475 35.3036 20.837 35.25 20.837Z"
                      fill="#3B5999" />
            </a>
            <a href="">
                <path fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M100.5 0.833008C108.456 0.833008 116.087 3.99372 121.713 9.61981C127.339 15.2459 130.5 22.8765 130.5 30.833C130.5 38.7895 127.339 46.4201 121.713 52.0462C116.087 57.6723 108.456 60.833 100.5 60.833C92.5435 60.833 84.9129 57.6723 79.2868 52.0462C73.6607 46.4201 70.5 38.7895 70.5 30.833C70.5 22.8765 73.6607 15.2459 79.2868 9.61981C84.9129 3.99372 92.5435 0.833008 100.5 0.833008Z"
                      fill="white" />
                <path d="M100.5 1.33301C108.324 1.33301 115.827 4.441 121.36 9.97333C126.892 15.5057 130 23.0091 130 30.833C130 38.6569 126.892 46.1604 121.36 51.6927C115.827 57.225 108.324 60.333 100.5 60.333C92.6761 60.333 85.1727 57.225 79.6404 51.6927C74.108 46.1604 71 38.6569 71 30.833C71 23.0091 74.108 15.5057 79.6404 9.97333C85.1727 4.441 92.6761 1.33301 100.5 1.33301Z"
                      stroke="#DBE3F5"
                      stroke-width="0.98333"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                <path fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M110.105 24.777C109.782 24.92 109.45 25.0411 109.11 25.139C109.512 24.685 109.819 24.149 110.006 23.565C110.027 23.5008 110.027 23.4318 110.008 23.3672C109.988 23.3026 109.95 23.2455 109.897 23.2035C109.844 23.1615 109.78 23.1365 109.712 23.132C109.645 23.1274 109.578 23.1434 109.52 23.178C108.802 23.6044 108.021 23.9133 107.206 24.093C106.379 23.2868 105.27 22.8348 104.115 22.833C103.487 22.8337 102.866 22.9681 102.294 23.2274C101.722 23.4866 101.212 23.8648 100.798 24.3366C100.383 24.8084 100.074 25.3631 99.8911 25.9637C99.7078 26.5644 99.6546 27.1972 99.735 27.82C98.2323 27.6862 96.7715 27.253 95.4388 26.546C94.1061 25.8389 92.9284 24.8723 91.975 23.703C91.9413 23.6612 91.8979 23.6283 91.8486 23.607C91.7993 23.5857 91.7455 23.5767 91.692 23.5809C91.6384 23.585 91.5867 23.6021 91.5412 23.6307C91.4958 23.6593 91.4579 23.6985 91.431 23.745C91.0391 24.4192 90.8327 25.1852 90.833 25.965C90.833 27.03 91.213 28.04 91.884 28.828C91.6798 28.7572 91.482 28.6689 91.293 28.564C91.243 28.5363 91.1867 28.5219 91.1295 28.5223C91.0723 28.5228 91.0162 28.5379 90.9666 28.5664C90.9171 28.5949 90.8757 28.6356 90.8465 28.6848C90.8173 28.734 90.8013 28.7898 90.8 28.847V28.906C90.8 30.494 91.654 31.924 92.961 32.704C92.8483 32.6923 92.7362 32.6756 92.625 32.654C92.5684 32.6432 92.51 32.6474 92.4555 32.6661C92.401 32.6847 92.3523 32.7172 92.3142 32.7604C92.276 32.8036 92.2498 32.8559 92.238 32.9123C92.2262 32.9687 92.2293 33.0272 92.247 33.082C92.4817 33.8144 92.9037 34.4728 93.4711 34.992C94.0385 35.5112 94.7317 35.8731 95.482 36.042C94.2306 36.826 92.7827 37.2393 91.306 37.234C90.9935 37.234 90.6813 37.2156 90.371 37.179C90.2965 37.1703 90.2213 37.1871 90.1575 37.2267C90.0938 37.2662 90.0453 37.3263 90.02 37.3969C89.9948 37.4675 89.9941 37.5446 90.0183 37.6157C90.0424 37.6867 90.0899 37.7474 90.153 37.788C92.0744 39.0213 94.3099 39.6763 96.593 39.675C101.089 39.675 103.901 37.555 105.469 35.777C107.424 33.559 108.545 30.623 108.545 27.723C108.545 27.602 108.543 27.479 108.54 27.357C109.311 26.7757 109.979 26.0685 110.515 25.265C110.555 25.2053 110.574 25.1342 110.57 25.0625C110.566 24.9908 110.539 24.9223 110.493 24.8673C110.447 24.8123 110.384 24.7738 110.314 24.7575C110.244 24.7412 110.171 24.748 110.105 24.777Z"
                      fill="#55ACEE" />
            </a>
            <a href="">
                <path fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M141.5 30.733C141.513 22.9134 144.631 15.419 150.167 9.8968C155.703 4.37457 163.205 1.27634 171.025 1.28297C178.845 1.2896 186.342 4.40054 191.868 9.93214C197.395 15.4637 200.5 22.9634 200.5 30.783C200.5 38.6025 197.395 46.1021 191.868 51.6337C186.342 57.1653 178.845 60.2763 171.025 60.283C163.205 60.2896 155.703 57.1913 150.167 51.6691C144.631 46.1469 141.513 38.6525 141.5 30.833V30.733Z"
                      fill="white" />
                <path d="M141.5 30.733C141.513 22.9134 144.631 15.419 150.167 9.8968C155.703 4.37457 163.205 1.27634 171.025 1.28297C178.845 1.2896 186.342 4.40054 191.868 9.93214C197.395 15.4637 200.5 22.9634 200.5 30.783C200.5 38.6025 197.395 46.1021 191.868 51.6337C186.342 57.1653 178.845 60.2763 171.025 60.283C163.205 60.2896 155.703 57.1913 150.167 51.6691C144.631 46.1469 141.513 38.6525 141.5 30.833V30.733Z"
                      stroke="#DBE3F5"
                      stroke-width="0.98333"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
                <path fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M166.66 29.1779H173.928C174.195 30.5349 174.137 31.9358 173.758 33.2659C173.378 34.5529 172.716 35.6319 171.77 36.5029C170.9 37.2979 169.84 37.8459 168.59 38.1489C167.228 38.4519 165.903 38.4329 164.616 38.0929C163.596 37.8288 162.646 37.3441 161.834 36.673C160.953 35.9873 160.236 35.1146 159.734 34.1179C158.9 32.5279 158.674 30.8439 159.052 29.0649C159.165 28.3829 159.392 27.7399 159.733 27.1349C160.642 25.2419 162.099 23.9549 164.105 23.2729C165.846 22.6679 167.587 22.6869 169.329 23.3299C170.237 23.6699 171.069 24.182 171.827 24.863C171.708 25.0261 171.575 25.178 171.429 25.3169C171.24 25.4689 171.127 25.5819 171.089 25.6579C170.937 25.7719 170.691 25.9979 170.351 26.3389C170.048 26.6419 169.821 26.8889 169.669 27.0779C169.197 26.5981 168.611 26.2464 167.966 26.056C167.229 25.8293 166.443 25.8095 165.695 25.999C164.812 26.1744 164.002 26.6093 163.367 27.2479C162.867 27.7905 162.481 28.4277 162.231 29.1219C161.891 30.1059 161.891 31.1089 162.231 32.1309C162.572 33.1149 163.178 33.9099 164.048 34.5149C164.578 34.8939 165.146 35.14 165.752 35.254C166.319 35.367 166.944 35.367 167.625 35.254C168.236 35.1535 168.818 34.9207 169.329 34.5719C170.199 34.0039 170.71 33.2099 170.862 32.1879H166.66V29.1779ZM183.126 29.348V31.2789H180.457V33.8909H178.527V31.2789H175.858V29.3489H178.527V26.6799H180.457V29.3489L183.126 29.348Z"
                      fill="#DD4B39" />
            </a>
        </svg>
    </div>
</div>
