<div class="container" id="carousel-container">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                 <div class="row">
                    <div class="col-4">
                        <img src="https://lp2.hm.com/hmgoepprod?set=source[/6d/da/6dda7af9bf7fdaef46838d913d1f8b7d7319acb8.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[m],hmver[2]&call=url[file:/product/fullscreen]" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-4">
                        <img src="https://lp2.hm.com/hmgoepprod?set=source[/dd/1b/dd1b972e0285a30bcaf1e02a9820d0588812b53e.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[m],hmver[2]&call=url[file:/product/fullscreen]" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-4">
                        <img src="https://lp2.hm.com/hmgoepprod?set=source[/c6/15/c61524f1de46ca7720c8d8cecd24a42ef18b9047.jpg],origin[dam],category[ladies_premium_selection_accessories],type[DESCRIPTIVESTILLLIFE],res[m],hmver[2]&call=url[file:/product/fullscreen]" class="d-block w-100" alt="...">
                    </div>
                    <div class="cs-item-bottom-left">
                        <h3>Welcome to<br>Manero!<br>50% off</h3>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-4">
                        <img src="https://lp2.hm.com/hmgoepprod?set=source[/bc/5b/bc5b9286865dffa9d820f11486a667a8e6f8d20d.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[m],hmver[2]&call=url[file:/product/fullscreen]" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-4">
                        <img src="https://lp2.hm.com/hmgoepprod?set=source[/41/11/41115a2fd2d02e1812a1764f6f7e930b6ceaca0e.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[m],hmver[2]&call=url[file:/product/fullscreen]" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-4">
                        <img src="https://lp2.hm.com/hmgoepprod?set=source[/73/b3/73b3ce0f25e74dc6876aa400ab25bab76360feba.jpg],origin[dam],category[home_decorations_candles_scented],type[DESCRIPTIVESTILLLIFE],res[m],hmver[2]&call=url[file:/product/fullscreen]" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-4">
                        <img src="https://lp2.hm.com/hmgoepprod?set=source[/8e/6b/8e6b6257627def74cacc3036f6c75f740ca6f153.jpg],origin[dam],category[],type[LOOKBOOK],res[m],hmver[1]&call=url[file:/product/fullscreen]" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-4">
                        <img src="https://lp2.hm.com/hmgoepprod?set=source[/ce/6a/ce6a12d0e1d5f88bbd0d3d92bd9267a3faea1af6.jpg],origin[dam],category[],type[LOOKBOOK],res[m],hmver[1]&call=url[file:/product/fullscreen]" class="d-block w-100" alt="...">
                    </div>
                    <div class="col-4">
                        <img src="https://lp2.hm.com/hmgoepprod?set=source[/8e/a3/8ea3cc375ae86cc30a0bd18b7a7a76a96f0a0539.jpg],origin[dam],category[],type[LOOKBOOK],res[m],hmver[1]&call=url[file:/product/fullscreen]" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center align-self-center">
        <div class="col-6">
            <h3>Best sellers</h3>
        </div>
        <div class="col-6 text-end">
            <a a asp-controller="products" asp-action="index">View all<i class="fa-solid px-1 fa-angle-right"></i></a>
        </div>
    </div>
    <div class="scrollmenu">
        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7355221_730_f_f_adidas_adi_ie7011_sambaogw2309_q3_junkyard.jpg?auto=format&fit=fill&fill-color=F2F2F2&h=466.25&w=373&q=60" alt="Card image cap">
                <p class="text-start">⭐⭐⭐⭐(5)</p>
                <p class="text-start">Green sneakers</p>
                <p class="text-start">$29.95</p>
                <i class="fa-regular top-right fa-heart" id="fa-heart"></i>
                <i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
        </div>
        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7356054_990_f_f_junkyard_jydeliriumlacedress2308_q3_junkyard.jpg?auto=format&ar=4:5&fit=crop&w=373&q=60" alt="Card image cap">
                <p class="text-start">⭐⭐⭐(3)</p>
                <p class="text-start">Summer dress</p>
                <p class="text-start">$36.95</p>
                <p class="top-left px-2">On sale</p>
                <i class="fa-regular top-right fa-heart" id="fa-heart"></i>
                <i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
        </div>
        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7267723_990_f_f_converse_con_162050c_chuck70hi2301_nos_junkyard.jpg?auto=format&fit=fill&fill-color=F2F2F2&h=466.25&w=373&q=60" alt="Card image cap">
                <p class="text-start">⭐(1835323)</p>
                <p class="text-start">Black sneakers</p>
                <p class="text-start">$29.95</p>
                <i class="fa-regular top-right fa-heart" id="fa-heart"></i>
                <i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
        </div>
        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7335495_990_f_f_rains_13900blkbucklerolltop_q1_junkyard.jpg?auto=format&ar=4:5&fit=crop&w=373&q=60" alt="Card image cap">
                <p class="text-start">⭐⭐⭐⭐(3)</p>
                <p class="text-start">Shoulder bag</p>
                <p class="text-start">$29.95</p>
                <i class="fa-regular top-right fa-heart" id="fa-heart"></i>
                <i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
        </div>
                <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7264423_990_f_f_handballspezial_db3021_q3_junkyard.jpg?auto=format&fit=fill&fill-color=F2F2F2&h=466.25&w=373&q=60" alt="Card image cap">
                <p class="text-start">⭐⭐⭐⭐(3)</p>
                <p class="text-start">Black sneakers</p>
                <p class="text-start">$29.95</p>
                <i class="fa-regular top-right fa-heart" id="fa-heart"></i>
                <i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
        </div>
                <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7352014_990_f_f_swc_swc_ya07012-blk_dellowsstrike2212_q2_junkyard.jpg?auto=format&fit=fill&fill-color=F2F2F2&h=466.25&w=373&q=60" alt="Card image cap">
                <p class="text-start">⭐⭐⭐⭐(3)</p>
                <p class="text-start">Black sneakers</p>
                <p class="text-start">$29.95</p>
                <i class="fa-regular top-right fa-heart" id="fa-heart"></i>
                <i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 py-5" id="disc-container">
    <div class="container">
        <h3>Take 50% off now!</h3>
        <button class="btn-shop">Shop now</button>
    </div>
</div>

<div class="container mt-5 pb-5 mb-5">
    <div class="row justify-content-center align-self-center">
        <div class="col-6">
            <h3 class="text-nowrap">Featrured products</h3>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="products" asp-action="index">View all<i class="fa-solid px-1 fa-angle-right"></i></a>
        </div>
    </div>
    <div class="scrollmenu">
        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7356054_990_f_f_junkyard_jydeliriumlacedress2308_q3_junkyard.jpg?auto=format&ar=4:5&fit=crop&w=373&q=60" alt="Card image cap">
            <p class="text-start">⭐⭐⭐(3)</p>
            <p class="text-start">Summer dress</p>
            <p class="text-start">$36.95</p>
            <p class="top-left px-2">On sale</p>
            <i class="fa-regular top-right fa-heart" id="fa-heart"></i>
            <i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
        </div>
        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7335495_990_f_f_rains_13900blkbucklerolltop_q1_junkyard.jpg?auto=format&ar=4:5&fit=crop&w=373&q=60" alt="Card image cap">
            <p class="text-start">⭐⭐⭐⭐(5)</p>
            <p class="text-start">Shoulder bag</p>
            <p class="text-start">$30.00</p>
            <i class="fa-regular top-right fa-heart" id="fa-heart"></i>
            <i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
        </div>
        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7349654_990_f_f_lastresort_lr_d88blkblkbla_vm002suede2305_q2_junkyard.jpg?auto=format&fit=fill&fill-color=F2F2F2&h=466.25&w=373&q=60" alt="Card image cap">
            <p class="text-start">⭐(1835323)</p>
            <p class="text-start">Black sneakers</p>
            <p class="text-start">$54.96</p>
            <i class="fa-regular top-right fa-heart" id="fa-heart"></i>
            <i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
        </div>
        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7353563_810_f_f_adidas_adi_id2077_campus00s2309_q3_junkyard.jpg?auto=format&fit=fill&fill-color=F2F2F2&h=466.25&w=373&q=60" alt="Card image cap">
            <p class="text-start">⭐⭐⭐⭐(3)</p>
            <p class="text-start">Brown sneakers</p>
            <p class="text-start">$29.95</p>
            <i class="fa-regular top-right fa-heart" id="fa-heart"></i>
            <i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
        </div>
        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7351270_900_f_f_newbalance_nb_bb480ldbwhi_bb480ldb2302_q1_junkyard.jpg?auto=format&fit=fill&fill-color=F2F2F2&h=466.25&w=373&q=60" alt="Card image cap">
            <p class="text-start">⭐⭐⭐⭐(3)</p>
            <p class="text-start">White sneakers</p>
            <p class="text-start">$29.95</p>
            <i class="fa-regular top-right fa-heart" id="fa-heart"></i>
            <i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
        </div>
            <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="https://junkyard.imgix.net/globalassets/productimages/7360239_280_f_f_adidas_adihq8718ornggazelleindoor2309_q2_junkyard.jpg?auto=format&fit=fill&fill-color=F2F2F2&h=466.25&w=373&q=60" alt="Card image cap">
            <p class="text-start">⭐⭐⭐⭐(3)</p>
            <p class="text-start">Red sneakers</p>
            <p class="text-start">$29.95</p>
            <i class="fa-regular top-right fa-heart" id="fa-heart"></i>
            <i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
        </div>
    </div>
</div>
        <partial name="../Shared/_BottomNav.cshtml" />
