@* <div class="container" id="carousel-container">
<div id="carouselExampleIndicators" class="carousel slide">
<div class="carousel-indicators">
<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
aria-current="true" aria-label="Slide 1"></button>
<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
aria-label="Slide 2"></button>
<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
aria-label="Slide 3"></button>
</div>
<div class="carousel-inner">
<div class="carousel-item active">
<img src="https://placehold.co/200x100" class="d-block w-100" alt="...">
<div class="cs-item-bottom-left">
<h3>Welcome to<br>Manero!<br>50% off</h3>
</div>
</div>
<div class="carousel-item">
<img src="https://placehold.co/200x100" class="d-block w-100" alt="...">
</div>
<div class="carousel-item">
<img src="https://placehold.co/200x100" class="d-block w-100" alt="...">
</div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
data-bs-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
data-bs-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="visually-hidden">Next</span>
</button>
</div>
</div>

<div class="container mt-5">
<div class="row justify-content-center align-self-center">
<div class="col-6">
<h3>Best sellers</h3>
</div>
<div class="col-6 text-end">
<a href="/">View all<i class="fa-solid px-1 fa-angle-right"></i></a>
</div>
</div>
<div class="scrollmenu">
<div class="card" style="width: 14rem;">
<img class="card-img-top" src="https://placehold.co/120x150" alt="Card image cap">
<p class="text-start">⭐⭐⭐⭐(5)</p>
<p class="text-start">Green sneakers</p>
<p class="text-start">$29.95</p>
<i class="fa-regular top-right fa-heart" id="fa-heart"></i>
<i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
</div>
<div class="card" style="width: 14rem;">
<img class="card-img-top" src="https://placehold.co/120x150" alt="Card image cap">
<p class="text-start">⭐⭐⭐(3)</p>
<p class="text-start">Summer dress</p>
<p class="text-start">$36.95</p>
<p class="top-left px-2">On sale</p>
<i class="fa-regular top-right fa-heart" id="fa-heart"></i>
<i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
</div>
<div class="card" style="width: 14rem;">
<img class="card-img-top" src="https://placehold.co/120x150" alt="Card image cap">
<p class="text-start">⭐(1835323)</p>
<p class="text-start">Black sneakers</p>
<p class="text-start">$29.95</p>
<i class="fa-regular top-right fa-heart" id="fa-heart"></i>
<i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
</div>
<div class="card" style="width: 14rem;">
<img class="card-img-top" src="https://placehold.co/120x150" alt="Card image cap">
<p class="text-start">⭐⭐⭐⭐(3)</p>
<p class="text-start">Shoulder bag</p>
<p class="text-start">$29.95</p>
<i class="fa-regular top-right fa-heart" id="fa-heart"></i>
<i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
</div>
<div class="card" style="width: 14rem;">
<img class="card-img-top" src="https://placehold.co/120x150" alt="Card image cap">
<p class="text-start">⭐⭐⭐⭐(3)</p>
<p class="text-start">Black sneakers</p>
<p class="text-start">$29.95</p>
<i class="fa-regular top-right fa-heart" id="fa-heart"></i>
<i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
</div>
<div class="card" style="width: 14rem;">
<img class="card-img-top" src="https://placehold.co/120x150" alt="Card image cap">
<p class="text-start">⭐⭐⭐⭐(3)</p>
<p class="text-start">Black sneakers</p>
<p class="text-start">$29.95</p>
<i class="fa-regular top-right fa-heart" id="fa-heart"></i>
<i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
</div>
</div>
</div>

<div class="container-fluid mt-5 py-5" id="disc-container">
<div class="container">
<h3>Take 50% off now!</h3>
<button class="btn-shop">Shop now</button>
</div>
</div>

<div class="container mt-5 pb-5">
<div class="row justify-content-center align-self-center">
<div class="col-6">
<h3 class="text-nowrap">Featrured products</h3>
</div>
<div class="col-6 text-end">
<a href="/">View all<i class="fa-solid px-1 fa-angle-right"></i></a>
</div>
</div>
<div class="scrollmenu">
<div class="card" style="width: 14rem;">
<img class="card-img-top" src="https://placehold.co/120x150" alt="Card image cap">
<p class="text-start">⭐⭐⭐(3)</p>
<p class="text-start">Summer dress</p>
<p class="text-start">$36.95</p>
<i class="fa-regular top-right fa-heart" id="fa-heart"></i>
<i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
</div>
<div class="card" style="width: 14rem;">
<img class="card-img-top" src="https://placehold.co/120x150" alt="Card image cap">
<p class="text-start">⭐⭐⭐⭐(5)</p>
<p class="text-start">Shoulder bag</p>
<p class="text-start">$30.00</p>
<p class="top-left px-2">On sale</p>
<i class="fa-regular top-right fa-heart" id="fa-heart"></i>
<i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
</div>
<div class="card" style="width: 14rem;">
<img class="card-img-top" src="https://placehold.co/120x150" alt="Card image cap">
<p class="text-start">⭐(1835323)</p>
<p class="text-start">Black sneakers</p>
<p class="text-start">$54.96</p>
<i class="fa-regular top-right fa-heart" id="fa-heart"></i>
<i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
</div>
<div class="card" style="width: 14rem;">
<img class="card-img-top" src="https://placehold.co/120x150" alt="Card image cap">
<p class="text-start">⭐⭐⭐⭐(3)</p>
<p class="text-start">Black sneakers</p>
<p class="text-start">$29.95</p>
<i class="fa-regular top-right fa-heart" id="fa-heart"></i>
<i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
</div>
<div class="card" style="width: 14rem;">
<img class="card-img-top" src="https://placehold.co/120x150" alt="Card image cap">
<p class="text-start">⭐⭐⭐⭐(3)</p>
<p class="text-start">Black sneakers</p>
<p class="text-start">$29.95</p>
<i class="fa-regular top-right fa-heart" id="fa-heart"></i>
<i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
</div>
<div class="card" style="width: 14rem;">
<img class="card-img-top" src="https://placehold.co/120x150" alt="Card image cap">
<p class="text-start">⭐⭐⭐⭐(3)</p>
<p class="text-start">Black sneakers</p>
<p class="text-start">$29.95</p>
<i class="fa-regular top-right fa-heart" id="fa-heart"></i>
<i class="fa-solid top-right-under fa-bag-shopping" id="fa-bag"></i>
</div>
</div>
</div>

<partial name="../Shared/_BottomNav.cshtml" /> *@

<partial name="../Partials/_CartEmpty.cshtml" />