.bottom-nav-container {
	display: flex;
	justify-content: center;
	border-top: 1px solid $color-gray;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4.5rem;

	.navigation {
		display: flex;
		gap: 2.5rem;

		.navigation-icon {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
