.singInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
}
.singInContainer > div {
  display: flex;
}
.singInContainer > h1 {
  margin-top: 6.4rem;
}
.singInContainer > form > div {
  width: 20.87488rem;
  height: 3.0625rem;
  flex-shrink: 0;
  position: relative;
  margin: 1.3rem 0 1.3rem 0;
}
.singInContainer > form > div > svg {
  position: absolute;
  z-index: 1;
}
.singInContainer > form > div > label {
  position: absolute;
  z-index: 2;
  left: 5%;
  top: -12%;
  background-color: white;
  padding: 0 10px 0 10px;
  font-size: small;
  color: #626262;
}
.singInContainer > form > div > input {
  position: absolute;
  z-index: 3;
  width: 18rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  border: none;
}
.singInContainer > form > div > input:focus {
  outline: none;
}
.singInContainer > form > a:link {
  color: black;
  text-decoration: none;
}
.singInContainer > form > a:visited {
  color: black;
  text-decoration: none;
}
.singInContainer > form > a:hover {
  color: black;
  text-decoration: none;
}
.singInContainer > form > a:active {
  color: black;
  text-decoration: none;
}
.singInContainer > p {
  color: #626262;
}
.singInContainer > p > a:link {
  color: black;
  text-decoration: none;
}
.singInContainer > p > a:visited {
  color: black;
  text-decoration: none;
}
.singInContainer > p > a:hover {
  color: black;
  text-decoration: none;
}
.singInContainer > p > a:active {
  color: black;
  text-decoration: none;
}

.checkboxText {
  margin-right: 4rem;
  color: #626262;
}

#signInBtn {
  margin-top: 2rem;
}

.singUpText {
  margin-right: 6rem;
}

.goBackNav {
  display: flex;
  color: black !important;
  margin-top: 2rem;
  width: 100%;
}

.goBackNavText {
  margin: auto;
  padding: 0;
}

.hiddenElement {
  margin: 0;
  padding: 0;
  width: 0.5rem;
}

.loginOptions {
  margin-top: 2.5rem;
}

.passwordInfoText {
  margin-top: 2.4rem;
  line-height: 1.5rem;
  width: 20.9375rem;
}
