.top-navigation{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 35px;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:9;
    margin-bottom: 10px;
    button{
      transition: ease .4s;
      &:hover{
        opacity: 50%;
      }
      span{
        font-size: 30px;
      }
    }
  }

  
  .toggle {
    background:transparent;
    border:none;
    cursor:pointer; 
    rotate: 90deg;
    padding:0;
    margin: 0;
  }
  
  .sidebar {
    margin-top: 64px;
    background-color: #212529;
    color: #fff;
    width:300px;
    position:fixed;
    top:0;
    left:-300px;
    height: 100%;
    transition:all 0.3s ease-out;
    z-index: 200;
  }
  
  .sidebarshow {
    left:0;
  }


.line {
    padding-block: 1rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.black-circle {
    border :1px solid grey;
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff; 
}

.textarea {
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 14px;
    border: 2px solid grey;
    border-radius: 35px;
    margin-bottom:1rem;
}
.black-circle-arrow {
    border: 1px solid grey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
}




