<div class="onboardingContainer">
  <div class="animate__animated animate__backInDown backgroundCircle">
    <svg
      width="471"
      height="474"
      viewBox="0 0 471 474"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M28 238.4C28.0133 183.372 49.8841 130.602 88.8019 91.6988C127.72 52.7951 180.497 30.9433 235.525 30.95C290.553 30.9566 343.325 52.8211 382.233 91.7341C421.142 130.647 443 183.422 443 238.45C443 293.478 421.142 346.253 382.233 385.166C343.325 424.079 290.553 445.943 235.525 445.95C180.497 445.957 127.72 424.105 88.8019 385.201C49.8841 346.297 28.0133 293.528 28 238.5V238.4Z"
        fill="white"
      />
      <path
        d="M0 238.4C0.0132599 175.946 24.8341 116.055 69.0029 71.8998C113.172 27.7451 173.071 2.94332 235.525 2.94995C297.979 2.95658 357.873 27.771 402.032 71.9351C446.192 116.099 471 175.996 471 238.45C471 300.904 446.192 360.801 402.032 404.965C357.873 449.129 297.979 473.943 235.525 473.95C173.071 473.957 113.172 449.155 69.0029 405C24.8341 360.845 0.0132599 300.954 0 238.5V238.4Z"
        stroke="white"
        stroke-width="3.96632"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <div
    id="carouselExampleSlidesOnly"
    class="onb-carousel slide animate__animated animate__fadeIn animate__delay-1s"
    data-bs-ride="onb-carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1>Welcome to Manero!</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id,
          deserunt!
        </p>
      </div>
      <div class="carousel-item">
        <h1>Easy to Track Orders!</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id,
          deserunt!
        </p>
      </div>
      <div class="carousel-item">
        <h1>Door to Door Delivery!</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id,
          deserunt!
        </p>
      </div>
    </div>
  </div>
    <a asp-controller="Home" asp-action="Index"><input type="button" value="Get Started" class="btn animate__animated animate__fadeIn animate__delay-2s"></a>
</div>
