// Core

@import "../scss/Core/_colors.scss";
@import "../scss/Core/_fonts.scss";
@import "../scss/Core/_mixins.scss";
@import "../scss/Core/_btn.scss";



// Components

@import "../scss/Components/_bottomNav.scss";
@import "../scss/Components/_login.scss";
@import "../scss/Components/home.scss";

@import "../scss/Components/_productpage.scss";
@import "../scss/Components/_onboarding.scss";
@import "../scss/Components/profile.scss";
@import "../scss/Components/payment.scss";
@import "../scss/Components/address.scss";
@import "../scss/Components/order.scss";

@import "../scss/Components/_wishlist.scss";
@import "../scss/Components/_topnav.scss";



//GLOBAL CUSTOM COMPONENTS

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  transition: ease .5s;
  background: rgb(180, 180, 180); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: $color-gray; 
}


.container-MG3-117 {
   margin-top:5rem;
    justify-content: center;
    align-items: center;
    
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container-MG3-117 {
    display:grid;
    place-items:center;
    text-align: center;


    
}

.circle-MG3-117 {
    width: 200px;
    height: 200px;
    border: 5px solid green;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.check-icon {
    font-size: 68px;
    color: green;
}

.message-MG3-117 {
    margin-top: 20px;
}

.buttons {
    margin-top: 20px;
}

.button--MG3-117 {
    display: inline-block;
    padding: 10px 70px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
    
    text-decoration: none;
}

.view-orders {
    background-color: #000;
    color: #fff;
}

.continue-shopping {
    background-color: #fff;
    color: #000;
    display: inline-block;
    padding: 10px 40px;
    border: noe;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
   
    text-decoration: none;
}
.fa-pipe-MG3-117 {
    margin-top: 1rem;
    font-size: 64px;
   
}
.fa-xmark {
    font-size: 68px;
    color: red;
}
.circleFailed-MG3-117 {
    width: 200px;
    height: 200px;
    border: 5px solid red;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}